<h2>About me</h2>

<h3>
	My name is Tural, I’m 17 years old and I’m studying to become a full stack developer. 
	In life I am interested in most things such as (Football, Motorsports, Games, Walking with friends and so on). 
	I started getting interested in programming at the age of 12 and started studying and practicing at 16. 
	I also do design and video editing, and that’s all.
</h3>
