@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <img src="https://cdn.discordapp.com/attachments/1317580063952207993/1470017577890877614/WhatsApp_Image_2026-02-06_at_15.25.33.jpeg?ex=6989c40e&is=6988728e&hm=3c2d4050222c26043d2dbf926df8d26fd45bf6a0e76135920dc49080942ab116&" class="profile-img" />
    <h1>Tural Alibeyli</h1>
    <p>Beginner Fullstack Developer, developing in frontend and backend development.</p>
</div>
