<h2>Projects</h2>

<div class="card">
    <p>Educational and personal projects</p>

    <button class="btn" onclick="window.open('https://github.com/Tural364','_blank')">
        My GitHub
    </button>   
</div>
