<h2>Skills</h2>

<ul class="list">
    <li>Python</li>
    <li>C++</li>
    <li>C# / ASP.NET MVC / EF</li>
    <li>JavaScript</li>
    <li>React</li>
    <li>HTML / CSS</li>
    <li>SQL</li>
    <li>Git / GitHub</li>
</ul>
